<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous">
  <title>Pizzeria</title>
</head>
<body>
<div class="container">
  <h1 class="text-center fst-italic mt-3">Pizzeria Generation</h1>
  <hr>
  <div class="alert alert-info" th:if="${pizzaList.size() == 0}">Non ci sono pizze disponibili.</div>
  <table class="table" th:unless="${pizzaList.size() == 0}">
    <thead>
    <tr>
      <th>Pizza</th>
      <th>Ingredienti</th>
      <th></th>
      <th>Prezzo</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pizza : ${pizzaList}">
      <td th:text="${pizza.nome}"></td>
      <td th:text="${pizza.descrizione}"></td>
      <td th:text="${pizza.prezzo}"></td>
      <td>
        <a class="btn btn-danger" th:href="@{/{id}(id=${pizza.id})}">Dettagli</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <a href="/crea" class="btn btn-danger">Crea la tua pizza</a>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>